@charset "utf-8";



body {
    background-color: rgb(255, 211, 148);
    min-width: 450px;
	min-height: 280px;
}






h1{
	text-align: center;
}

h2{
	text-align: center;
}

p{
	text-align: center;
}

.social {
	display: block;
	display: inline-block;
	padding: 2px;
	margin: 0 auto;
	position: center;
    left: 24px;
}

.homebuttons {
	display: block;
	display: inline-block;
	padding: 2px;
	margin: auto;
	position: relative;
    left: 24px;
}
